<div class="country-card {{#if infected}}infected{{/if}}">
    <img src="{{flag}}" alt="flag of {{name}}" class="country-flag">
    <h2 class="country-name">{{name}}</h2>
    <p>Столиця: {{capital}}</p>
    <p>Валюта: {{currency}}</p>
    <p>Мова: {{language}}</p>
    <p>Населення: {{population}}</p>
</div>